@media screen and (max-width: 1903px) {
  
}
@media screen and (max-width: 1440px) {
  
}
@media screen and (max-width: 1366px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgb(235, 228, 228);
    position: fixed;
    top: 0;
    width: 1366px;
    z-index: 1;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo svg {
    width: 80px;
    height: 80px;
    margin: 0;
  }
  .title-header {
    padding-left: 10px;
    font-weight: 700;
    font-size: 30px;
  }
  .header .header-right button {
    margin: 8px;
    height: 45px;
    top: 0px;
    left: 0px;
    padding: 12px 20px;
    align-items: center;
    border-color: transparent;
    border-radius: 5px;
    background-color: #f48023;
  }
  .header-left {
    margin-left: 30px;
  }
  .header-right {
    margin-right: 40px;
  }
  .register {
    color: #fff;
    font-weight: bold;
  }
  .login {
    color: #1682fd;
    font-weight: bold;
  }
  .button-login {
    background-color: #eaeaea;
  }
  
}
